:root {
  --bg-garland: linear-gradient(
    to bottom,
    transparent,
    transparent 40%,
    #363 40%,
    #393 60%,
    transparent 60%,
    transparent
  );
}

body {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1rem 2rem 1rem;
  color: #fff;
  background: #020;
  font-family: Poppins, Helvetica, Arial, sans-serif;
}

a {
  color: #9cf;
}

header {
  text-align: center;
  margin: 0 0 3em 0;
}

h1 {
  background-image: var(--bg-garland);
  border-radius: 50%;
}

h1 span.flowers {
  display: inline-block;
  margin: 0 0.5em;
}

h1 span.name {
  white-space: nowrap;
  text-shadow: 0 0 5px black;
}

@media (max-width: 768px) {
  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
  }

  span.flowers {
    background-image: var(--bg-garland);
    border-radius: 50%;
  }
}

.slogan {
  text-align: center;
}

.button {
  color: #fff;
  background: #363;
  padding: 1em;
  text-decoration: none;
  border-radius: 1em;
}

.button:hover {
  background: #252;
  text-decoration: underline;
}

h2 {
  font-size: 2rem;
  margin: 2em 0 0 0;
  text-align: center;
}

h2:first-of-type {
  margin: 0.5em 0 0 0;
}

h3 {
  margin: 1em 0 0 0;
}

h4 {
  margin: 2em 0 0 0;
}

h3 + h4 {
  margin-block-start: 1em;
}

.demo-wrapper {
  padding: 10px 40px;
}

.demo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100px;
  font-size: 1.3rem;
  line-height: 1.3em;
  font-weight: bold;
  color: #353;
  box-shadow: inset 0 0 15px 1px hsla(0 0 0 / 0.1);
}

@media (max-width: 768px) {
  .demo-content {
    font-size: 1rem;
  }
}

.demo-content-flower {
  display: block;
  font-size: 2rem;
  line-height: 2.5rem;
}

.lei-carousel-slide:nth-child(odd) .demo-content {
  background-color: #ffe;
}
.lei-carousel-slide:nth-child(even) .demo-content {
  background-color: #fee;
}
.lei-carousel-slide:nth-child(3n) .demo-content {
  background-color: #eef;
}
.lei-carousel-slide:nth-child(5n) .demo-content {
  background-color: #ffe;
}
.lei-carousel-slide:nth-child(6n) .demo-content {
  background-color: #fef;
}
.lei-carousel-slide:nth-child(7n) .demo-content {
  background-color: #eff;
}

.code-block {
  display: block;
  width: 90%;
  padding: 0.5em 1em;
  color: white;
  background-color: rgba(0 0 0 / 0.4);
  line-height: 1.3em;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: normal;
  border-left: 5px solid #343;
}

.option-details p {
  margin: 0.5em 0;
}
